*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}
.logo{
  background-color: white;
  transform: translateX(-100px);
}
.logo a{
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color:rgba(96, 112, 255, 1);
}
.navbar{
  display: flex;
  position: right;
  width: 300px;
  justify-content: space-around;
  transform: translateX(200px);
}
.navbar a{
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: rgba(52, 69, 99, 1);
}
.navbar :hover{
  text-decoration: underline lightseagreen;
}
.logo :hover{
  text-decoration: underline lightseagreen;
}
.bodysection{
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-left: 260px;
  width: 920px;
  height: 350px;
}
.mynamesection{
  margin-top: 5px;
  text-align: left;
  text-align: center;
  justify-content: left;
}
.mynamesection h1{
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color:rgba(9, 30, 66, 1);
}
.mynamesection :hover{
  text-decoration: underline lightseagreen;
}
.introsection p{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}
.introsection :hover{
  text-decoration: underline lightseagreen;
}
.connect{
  margin-top: 20px;
}
.connect a{
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(127, 140, 255, 1);
}
.connect :hover{
  text-decoration: underline lightseagreen;
}
.connect-logos{
  display: flex;
  margin-top: 10px;
  width: 180px;
  text-align: left;
  justify-content: space-between;
}
.linkedin-logo{
  display: flex;
  transform: translateY(1px);
}
.letter-I{
  transform: translateY(-2px);
}
.linkedin-logo a{
  display: grid;
  justify-content: start;
}
#pic1 {
  transform: translate(880px,-390px);
}
#pic2 {
  transform: translate(600px,-515px);
}
#pic3 {
   position: absolute;
   top:132px;
   right: 660px;
}
#pic4 {
  position: absolute;
  top:150px;
  right: 680px;
}
#pic5{
  position: absolute;
  top:150px;
  left: 40px;
}
#pic6{
  position: absolute;
  top: 90px;
  right: 1250px;
}
#pic7{
  position: absolute;
  bottom: 42px;
  right: 450px;
}
#pic8{
  position: absolute;
  bottom: 80px;
  right: 450px;
}
#pic9{
  width: 37px;
  height: 18px;
  position:absolute;
  bottom: 80px;
  left: 250px;
}