@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}

header {
  height: 92px;
  width: 100%;
}

.status-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 100%;
}

.time-section {
  width: 30%;
  margin-left: 0%;
}

.time-section h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 95%;
}

.logo-section {
  margin-left: 10%;
}

.logo-section a {
  font-family: 'Poppins', sans-serif, Verdana;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgba(96, 112, 255, 1);
}

.icon-menu {
  margin-right: 5%;
}

.body-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 114px;
  height: 100%;
  width: 100%;
}

.primary-text {
  align-self: flex-start;
  width: 60%;
  min-width: 300px;
  height: 150px;
  margin-left: 5%;
}

.secondary-text {
  width: 90%;
  min-width: 320px;
  height: 146px;
  margin-top: 2%;
}

.connect {
  align-self: start;
  width: 30%;
  min-width: 117px;
  height: 24px;
  margin-left: 5%;
  margin-top: 1%;
}

.primary-text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: rgba(23, 43, 77, 1);
}

.primary-text h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: rgba(23, 43, 77, 1);
}

.secondary-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.connect h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(127, 140, 255, 1);
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  align-self: start;
  width: 35%;
  max-width: 200px;
  height: 20px;
  margin-left: 5%;
  margin-top: 3%;
  justify-content: space-between;
  align-items: center;
}

.right-section {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
}

@media screen and (min-width: 1000px) {
  .right-section {
    display: none;
  }

  .time-section {
    display: none;
  }

  .logo-section {
    position: absolute;
    right: 83%;
    top: 0%;
    margin-top: 25px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80%;
    width: 25%;
    top: 0%;
    margin-top: 25px;
  }

  .navbar a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
    transition: all 0.5s ease-in;
  }

  .navbar a:hover {
    font-size: 18px;
    color: rgb(29, 29, 158);
  }

  .body-section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 64%;
    height: 400px;
    margin-left: 18%;
  }

  .primary-text {
    position: relative;
    margin-left: 0%;
    height: 25%;
    width: 80%;
  }

  .primary-text h1 {
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: rgba(9, 30, 66, 1);
  }

  .secondary-text {
    position: relative;
    margin-left: 5%;
    margin-top: 3%;
    width: 105%;
    height: 20%;
  }

  .secondary-text p {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .connect {
    position: relative;
    margin-left: 0%;
    margin-top: 3%;
  }

  .social-media-icons {
    margin-left: 0%;
    position: relative;
  }

  .icon-menu {
    display: none;
  }

  body {
    background:

      url(img/desktop/Ellipse3.png) no-repeat  99% 2.5%,
      url(img/desktop/Rectangle4.png) no-repeat 94% 1%,
      url(img/desktop/Ellipse5.png) no-repeat 50% 2.5%,
      url(img/desktop/Rectangle7.png) no-repeat 49.7% 2.18%,
      url(img/desktop/Ellipse11.png) no-repeat 5% 3%,
      url(img/desktop/Rectangle6.png) no-repeat 1.2% 2%,
      url(img/desktop/Ellipse4.png) no-repeat 60% 10%,
      url(img/desktop/Rectangle5.png) no-repeat 55% 9.9%,
      url(img/desktop/Ellipse13.png) no-repeat 17% 11.4%,
      url(img/desktop/Ellipse12.png) no-repeat 18% 11%;
  }
}

@media screen and (max-width: 1000px) {
  .popup-modal {
    display: none ;
  }

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar li {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }

  .navbar li a {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }

  #navbar-item1 {
    position: absolute;
    left: 8%;
    top: 20%;
  }

  #navbar-item2 {
    position: absolute;
    left: 8%;
    top: 32%;
  }

  #navbar-item3 {
    position: absolute;
    left: 8%;
    top: 44%;
  }

  .navbar.show {
    display: flex;
    width: 100%;
    height: 590px;
    align-items: center;
    text-align: center;
    margin-left: 0%;
    z-index: 1;
    background-color: #6070ff;
    opacity: 0.95;
  }

  #close-btn {
    z-index: 1;
    position: absolute;
    right: 15%;
    top: 11%;
  }

  .navbar-top {
    margin-top: 0%;
  }

  .right-section.hide {
    display: none;
  }

  .time-section.hide {
    display: none;
  }

  body {
    background:

      url(img/Ellipse3.png) no-repeat  100% 2.8%,
      url(img/Rectangle4.png) no-repeat 100% 2.1%,
      url(img/Ellipse8.png) no-repeat 60% 2.2%,
      url(img/Rectangle7.png) no-repeat 35% 2.4%,
      url(img/Ellipse5.png) no-repeat 35% 2.6%,
      url(img/Rectangle6.png) no-repeat 1% 2%,
      url(img/Ellipse11.png) no-repeat 1% 2.2%,
      url(img/Ellipse12.png) no-repeat 80% 10%,
      url(img/Ellipse13.png) no-repeat 80% 10%;
  }

  .snapshot-portfolio img {
    width: 100%;
    height: 100%;
  }

  .desktopsize {
    display: none;
  }
 
}

.works {
  height: 2788px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-works {
  display: flex;
  flex-direction: column;
  margin-top: 40%;
  width: 96%;
  height: 552px;
  border: 1px solid grey;
  border-radius: 16px;
  margin-left: 2%;
}

.card-works1 {
  display: flex;
  flex-direction: column;
  width: 96%;
  height: 596px;
  margin-top: 88px;
  border: 1px solid blue;
  border-radius: 16px;
  margin-left: 2%;
}

.snapshot-portfolio {
  margin-top: 16px;
  margin-left: 16px;
  width: 90%;
  height: 220px;
  border-radius: 8px;
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 288px;
  margin-left: 1%;
  margin-top: 12px;
}

.info-block1 {
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 335px;
  margin-left: 1%;
  margin-top: 12px;
}

.primary-text-box {
  width: 90%;
  height: 80px;
}

.primary-text-box1 {
  width: 90%;
  height: 124px;
}

.project-description {
  margin-top: 12px;
  height: 76px;
  width: 90%;
}

.project-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  width: 40%;
  margin-top: 12px;
}

.project-tags1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  width: 40%;
  margin-top: 12px;
}

.seeproject { 
  display: flex;
  margin-top: 28px;
  margin-bottom: 18px;
  margin-left: 16px;
  width: 124px;
  height: 48px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(96, 112, 255, 1); 
  border-radius: 10px;
  cursor: pointer;

}

.seeproject1 {
  display: flex;
  margin-top: 28px;
  margin-bottom: 18px;
  margin-left: 16px;
  width: 124px;
  height: 52px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(96, 112, 255, 1);
  border-radius: 10px;
}

.project-title {
  height: 36px;
  width: 295px;
}

.project-title1 {
  height: 80px;
  width: 295px;
}

.project-title h2 {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: rgba(23, 43, 77, 1);
}

.project-title1 h2 {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: rgba(23, 43, 77, 1);
}

.project-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 32px;
}

.project-frame h3 {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.project-frame h4 {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: rgba(122, 134, 154, 1);
}

.project-description p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.project-frame1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 32px;
}

.project-frame1 h3 {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.project-frame1 h4 {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: rgba(122, 134, 154, 1);
}

.project-description1 p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.about-myself-getmyresume a {
  height: 24px;
  width: 138px;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: rgba(57, 109, 242, 1);
  margin-top: 12px;
  margin-left: 12px;
}

.seeproject a {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  height: 24px;
  width: 100px;
  text-align: center;
  color: rgba(57, 109, 242, 1);
}

.seeproject1 a {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  height: 24px;
  width: 100px;
  text-align: center;
  color: rgba(57, 109, 242, 1);
  justify-content: center;
}

.seeproject a:hover {
  text-decoration: 2px underline cyan;
}

.seeproject1 a:hover {
  text-decoration: 2px underline cyan;
}

@media screen and (min-width: 1000px) {
  body {
    width: 98%;
  }

  .works {
    width: 100%;
    height: 2788px;
    display: grid;
    justify-content: center;
  }

  .card-works {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    width: 95%;
    height: 500px;
    border: 1px solid grey;
    border-radius: 16px;
    margin-left: 3%;
  }

  .snapshot-portfolio {
    margin-top: 2%;
    margin-left: 2%;
    width: 50%;
    height: 90%;
  }

  .snapshot-portfolio img {
    width: 100%;
    height: 100%;
  }

  .info-block {
    width: 48%;
    height: 90%;
    margin-left: 3%;
  }

  .primary-text-box {
    width: 90%;
    margin-top: 5%;
  }

  .project-title {
    width: 90%;
  }

  .project-title h1 {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: rgba(9, 30, 66, 1);
  }

  .project-frame {
    margin-top: 6%;
    width: 60%;
  }

  .project-frame h3 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .project-frame h4 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(107, 119, 140, 1);
  }

  .project-description {
    width: 92%;
    margin-top: 7%;
  }

  .project-description p {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .project-tags {
    margin-left: 0%;
  }

  .seeproject {
    margin-left: 0%;
    margin-top: 8%;
  }

  .card-works1 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 120px;
    width: 95%;
    height: 70%;
    border: 1px solid grey;
    border-radius: 16px;
    margin-left: 3%;
  }

  .info-block1 {
    width: 48%;
    height: 90%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
  }

  .primary-text-box1 {
    width: 100%;
  }

  .project-title1 {
    margin-top: 2%;
    width: 100%;
  }

  .project-title1 h1 {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
  }

  .project-frame1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    width: 60%;
  }

  .project-frame1 h3 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .project-frame1 h4 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(107, 119, 140, 1);
  }

  .project-description1 {
    margin-top: 10%;
  }

  .project-description1 p {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .project-tags1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-top: 5%;
  }

  .seeproject1 {
    margin-left: 0%;
    margin-top: 8%;
  }

  #see-project-btn:hover {
    background: rgba(96, 112, 255, 1);
  }

  .seeproject a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  .seeproject1:hover {
    background: rgba(96, 112, 255, 1);
  }

  .seeproject1 a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  .about-myself-getmyresume:hover {
    text-decoration: none;
    background: rgba(96, 112, 255, 1);
  }

  .about-myself-getmyresume a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  .getintouch:hover {
    color: rgba(255, 255, 255, 1);
    background: rgb(96, 223, 255);
  }



  .project-title {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: rgba(9, 30, 66, 1);
  }
  
  .project-title1 {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: rgba(9, 30, 66, 1);
  }
  
  .card-works.hide {
    display: none;
  }

  .popup {
   display: none;
   flex-direction: column;
   border: 1px solid black;
   width: 90%;
   height: 1050px;
   margin-left: 5%;
   border-radius: 1%;
   background-color: rgba(0, 0, 0, 0.05);
   mix-blend-mode: multiply;
   box-shadow: 10px 10px 10px grey;
   align-self: center;
   margin-top: 5%;
   position: relative;
  }

  .popup-closebtn {
    position: relative;
    left: 85%;
    cursor: pointer;
  }
  
  .popup-closebtn1 {
    position: relative;
    left: 68%;
    cursor: pointer;
  }

  .popup-project-title {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    color: rgba(23, 43, 77, 1);
    margin-left: 3%;
  }

  .popup-project-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin-top: 1%;
    margin-left: 3%;
  }

  .popup-project-frame h3 {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .popup-project-frame h4 {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: rgba(122, 134, 154, 1);
  }

  .popupsnapshot {
    width: 95%;
    height: 45%;
    margin-top: 1%;
    margin-left: 2%;
  }

  .popupsnapshot img{
    width: 100%;
    height: 100%;
  }
 
  .popup-project-description {
    width: 65%;
    margin-left: 2%;
    margin-top: 2%;
    font-family: Poppins, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .popup-project-tags {
    width: 25%;
    margin-left: 72%;
    position: relative;
    top: -17%;
  }

  .popup-project-tags ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popup-project-buttons {
    width: 30%;
    margin-left: 70%;
    position: relative;
    top: -10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .popup-project-buttons button {
    height: 40px;
    width: 142px;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  .popup-project-buttons button:hover {
    background-color: lightblue;
  }

  .popup-project-buttons button img {
    margin-left: 10%;
  }

}

.about-myself {
  display: grid;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 2%;
  margin-top: 15%;
}

.top-section {
  grid-row: 1;
  margin-top: 10%;
  height: 409px;
  width: 97%;
  margin-left: 2%;
}

.about-myself-text1 {
  height: 101px;
  width: 40%;
}

.about-myself-text2 {
  height: 144px;
  width: 98%;
  margin-top: 5%;
  margin-right: 2%;
}

.about-myself-socialmedia {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 40%;
  margin-top: 1%;
}

.about-myself-letsconnect {
  height: 24px;
  width: 90%;
}

.about-myself-sociallinks {
  height: 40px;
  width: 100%;
  margin-top: 8%;
}

.about-myself-sociallists {
  height: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about-myself-getmyresume {
  height: 48px;
  width: 160px;
  margin-top: 2%;
  border: 1px solid rgba(96, 112, 255, 1);
  border-radius: 8px;
  display: flex;
}

.about-myself-text1 h2 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: rgba(23, 43, 77, 1);
}

.about-myself-text2 p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.about-myself-letsconnect h3 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(127, 140, 255, 1);
}

.about-myself-getmyresume a:hover {
  text-decoration: 2px underline cyan;
}

.skill-list-section {
  display: flex;
  grid-row: 2;
  height: 504px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
}

.skill-languages-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  width: 100%;
}

.skill-language-text h3 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  width: 80%;
  height: 27px;
  transform: translateX(-35px);
}

.skill-language-text img {
  transform: translate(275px, -22px);
}

.skill-framework {
  height: 72px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.skill-framework img {
  left: 300px;
  transform: translate(280px, -16px);
}

.skill-skill {
  height: 68px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.skill-framework h3 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-top: 25px;
  margin-left: 30px;
  width: 100%;
}

.skill-skill h3 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-top: 18px;
  margin-left: 30px;
}

.skill-skill img {
  left: 300px;
  transform: translate(280px, -16px);
}

.contact-me {
  width: 100%;
  margin-left: 2%;
  height: 779px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    no-repeat url(img/Ellipse-3.png) 100% 8%,
    no-repeat url(img/Rectangle-4.png) 100% 4%,
    no-repeat url(img/Ellipse-12.png)  40% 8%,
    no-repeat url(img/Rectangle-7.png) 84% 92%,
    no-repeat url(img/Ellipse-5.png)   75% 93%,
    no-repeat url(img/desktop/contact\ form-\ background-shape-desktop.png);
}

.contact-me-text1 {
  margin-top: 103px;
  height: 56px;
  width: 371px;
}

.contact-me-text1 h2 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.contact-me-text2 {
  margin-top: 12px;
  width: 327px;
  height: 102px;
}

.contact-me-text2 p {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: rgba(235, 235, 255, 1);
}

.form-list {
  list-style-type: none;
}

.name-section {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 87px;
  width: 327px;
  height: 48px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: rgba(23, 43, 77, 1);
}

.email-section {
  margin-top: 20px;
  width: 327px;
  height: 48px;
  background-color: white;
  border-radius: 10px;
  font-family: Poppin, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  border: none;
  color: rgba(23, 43, 77, 1);
}

.message-section {
  margin-top: 18px;
  width: 327px;
  height: 170px;
  background-color: white;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  line-height: 20px;
  border: none;
  color: rgba(23, 43, 77, 1);
}

.getintouch {
  width: 140px;
  height: 48px;
  background-color: white;
  margin-top: 22px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
  text-align: center;
  align-items: center;
  color: rgba(96, 112, 255, 1);
  border: none;
}

button:enabled {
  color: rgba(96, 112, 255, 1);
  background-color: #fff;
}

button:hover {
  color: #fff;
  background-color: rgba(96, 112, 255, 1);
}

@media screen and (min-width: 1000px) {
  .about-myself {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 20%;
  }

  .top-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-myself-text1 {
    align-self: flex-start;
    margin-left: 2%;
  }

  .about-myself-text2 {
    align-self: flex-start;
    margin-top: 2%;
    margin-left: 10%;
    width: 70%;
  }

  .about-myself-socialmedia {
    align-self: flex-start;
    margin-left: 10%;
  }

  .about-myself-getmyresume {
    align-self: flex-start;
    margin-left: 10%;
  }

  .about-myself-text2 p {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .skill-list-section {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    height: 75%;
    width: 50%;
    margin-right: 15%;
  }

  .skill-languages-list {
    width: 150%;
    height: 50%;
  }

  .skill-language-text {
    margin-top: 10%;
    background: url(img/desktop/Union1.png) no-repeat 100% 40%;
  }

  .skill-language-text h3 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
    margin-left: 9%;
    margin-bottom: 4%;
  }

  .skill-language-text img {
    display: none;
  }

  .skill-framework img {
    display: none;
  }

  .skill-skill img {
    display: none;
  }

  .mobilesize {
    display: none;
  }

  .skill-framework {
    margin-top: 15%;
    background: url(img/desktop/Union2.png) no-repeat 100% 20%;
    width: 150%;
  }

  .skill-skill {
    width: 150%;
    background: url(img/desktop/Union2.png) no-repeat 100% 20%;
  }

  .skill-framework h3 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .skill-skill h3 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .desktopsize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 0%;
  }

  .contact-me {
    margin-top: 20%;
    width: 100%;
    margin-left: 1%;
    background:
      url(img/desktop/e3.png) no-repeat 95% 15%,
      url(img/desktop/r4.png) no-repeat 92% 9%,
      url(img/desktop/e13.png) no-repeat 86% 60%,
      url(img/desktop/e5.png) no-repeat 5% 40%,
      url(img/desktop/r7.png) no-repeat 5% 36%,
      url(img/desktop/e11.png) no-repeat 25% 90%,
      url(img/desktop/e6.png) no-repeat 23% 88%,
      url(img/desktop/e12.png) no-repeat 30% 8%,
      url(img/desktop/contact\ form-\ background-shape-desktop.png) no-repeat;
  }

  .contact-me-text1 {
    margin-top: 5%;
  }

  .contact-me-text2 {
    width: 40%;
  }

  .contact-me-text2 p {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: rgba(235, 235, 255, 1);
  }

  .form-section {
    width: 50%;
    height: 20%;
  }

  .form-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 20%;
    margin-left: 16%;
  }

  .name-section {
    width: 70%;
    margin-top: 1%;
    border-radius: 0%;
  }

  .email-section {
    width: 70%;
    border-radius: 0%;
  }

  .message-section {
    width: 70%;
    border-radius: 0%;
  }

  .getintouch {
    margin-left: 24%;
  }
}
